/**
 * Heading styles
 */

.hdg {
  position: relative;
  @include flexible(flex-start, flex-start, row, center);
  min-height: 300px;
  max-height: initial;

  @include screen-md-up {
    height: 55vh;
    max-height: 465px;
    overflow: hidden;

    &[data-backgrounder] {
      height: 100vh;
      max-height: initial;
    }
  }

  .hdg__supertitle,
  .hdg__title,
  .hdg__content {
    padding-left: 0;
  }

  .hdg__supertitle {
    @extend %supertitle;
  }

  .hdg__title {
    @extend %h0;
    color: $white;
  }

  .hdg__content {
    * {
      font-weight: $text-normal;
    }
  }
}
