/**
 * Content
 */
%header {
  @include flexible();
  width: 66.66666667%;
  max-width: 565px;
  flex: 0 0.66 auto;
  margin: auto;
  text-align: center;
}

%title {
  @extend %h0;
  margin: auto auto #{rem-calc(12)} auto;
}

.content {

  .content__header {
    @extend %header;
  }

  .content__supertitle {
    @extend %supertitle;
  }

  .content__title {
    @extend %title;
  }

  .content__body {
    text-align: center;
  }

}
